@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture');
/* @font-face {
  font-family: '连笔字字体';
  src: url('./assets/fonts/连笔字.ttf');
}

@font-face {
  font-family: '管峻楷书书法字体';
  src: url('./assets/fonts/管峻楷书书法字体.ttf');
} */

@font-face {
  font-family: '汉仪全唐诗字体';
  src: url('./assets/fonts/汉仪全唐诗字体.ttf');
}

/* @font-face {
  font-family: '新蒂小丸子体';
  src: url('./assets/fonts/新蒂小丸子体.ttf');
}

@font-face {
  font-family: '不二情书字体';
  src: url('./assets/fonts/不二情书字体.ttf');
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f1f4f9;
}

@media (min-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (min-width: 1400px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 1800px) {
  html,
  body {
    font-size: 16px;
  }
}


/** 
 * 当不需要根据rem进行适配时，可以使用这种方式设置字体大小
 */
/* :root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
} */

.css-declare {
  color: #FFC107;
}

.css-property {
  color: #ff00de;
}

.class-name {
  color: #0093ff;
}